body {
    background-color: #8ab1bb;
    
}
.entete {
    text-align: center;
    margin-bottom: -10px; 
    margin-top: 90px;   

}
.recette {
    display: inline-block;
    background-color: black;
    color: white;
    max-width: 100px;
    padding-block: 10px;
    padding-inline: 25px;
    margin-bottom: -20px;
    font-weight: bold;
    font-size: 16px;
    
    
}
.contenu{
    background-color: white;
    margin-top: 0px;
    margin-bottom: 8%;
    margin-left: 80px;
    margin-right: 80px;
    padding: 2%;
    min-width: 300px;
    box-shadow: 10px 10px 10px 10px black;
    
}
.line{
    border-bottom: 1px solid black;
    width: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
h1{
    text-align: center;
    margin-top: 2%;
}
.center{
    text-align: center;
    width: 100%;
}
p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-weight: bold;
}
.img_tab{
    position: relative;
    top: 0px;
    width: 100%;
}
.tab{
    position: absolute;
    bottom:0px;
    width: 100%;
    background-color: #6c829dc0;
    height: 80px;
    color:rgb(252, 249, 249);
}
.img{
     
    width: 100%;
    display: block;
    object-fit: cover;
    max-height: 400px;
    min-height: 200px;
}
.tab td{
    text-align: center;
    font-size: 14px;
    vertical-align: top;
}
.tab th{
    text-align: center;
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 8px;
}
.ingredients , .preparation{
    width: 50%;
    vertical-align: top;
}

.ingredients{
 
    display: inline-block;
}
.preparation{
   
float: right;
}
.colone h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin: top;
    border-bottom: solid 5px #6c829d;
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 5px;
}
.steps_ingr p {
    border: solid 2px #6c829d;
    padding: 8px;
    margin: 4px;
    text-align: center;
    font-size: 14px;
}
.tab_preparation p.numero{
    background-color: #6c829d;
    color: white;
    text-align: center;
    width: 27px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0px;
    margin-left: 10px;
    

}
.tab_preparation td{
    vertical-align: top;
}
.tab_preparation td.preparation_etape{
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 10px;

}
.tab_preparation tr{
    height: 40px;
}
.tab_preparation tr{
    height: 40px;
    text-align: center;

}
*{
    overflow: auto;
}
